body{
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color:rgb(150, 182, 197); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10vh;
    background-color:rgb(150, 182, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 3;
}
nav a:focus,nav a:active{
    outline: none;
    box-shadow: none;
}
nav a{
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    font-size: smaller;
    background-color: rgb(150, 182, 197);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-decoration: underline; 
    text-decoration-thickness: 2px; 
    text-underline-offset: 10px; 
    text-decoration-color: rgb(241, 240, 232);
    text-overflow: ellipsis;
    max-width: 20%; 
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: 0.1s;
}
nav a:hover{
    text-decoration-thickness: 4px; 
    transition: 0.1s;
    /* font-weight: bold; */
}
footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(150, 182, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    background-color:rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    color:  rgb(37, 104, 136);
    border-radius: 20px 0 20px 0;
}
section p,section i,section ul{
    font-family: Georgia, serif;
    text-overflow: ellipsis;
    color:  rgb(37, 104, 136);
    padding: 10px 20px 10px 20px;
}
h1, h2, h3{
    font-family: Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
}
section img{
    width: 100%;
    max-width: 100%;
    
}
main{
    margin-top: 10vh;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(150, 182, 197);
    text-overflow: ellipsis;
}
header h1{
    font-size: 44px;
    width: 100%;
    color: white;
}
section div p, i, ul{
    float: left;
    width: auto;
}
section div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main div button{
    width: 32px;
    height: 20px;
    border: none;
    cursor: pointer;
}
#pl-button{
    background-image: url("../content/polish.png");
    background-size: 100% 100%;
}
#en-button{
    background-image: url("../content/english.png");
    background-size: 100% 100%;
}
section div ul{
    padding: 10px 20px 10px 40px;
}
section > *:last-child {
    padding-bottom: 100px
}
section div h3{
    padding: 0;
    margin: auto;
}
@media screen and (min-width: 700px) {
    section div div{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    section div div p, section div div ul{
        width: 90%;
    }
    section div p, section div i, section div ul{
        width: 50%;
        height: 100%;
        margin-right: auto;
    }
    section div img{
        float: right;
        height: auto;
        width: auto;
        margin: auto;
        margin-top: 30px;
        border-radius: 20px;
        max-width: 35vw;
    }
    section div{
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
    nav a{
        font-size: medium;
        margin-left: 20px;
        margin-right: 20px;
        width: 100px;
        
    }
    section div, p, img, ul, i{
        width: 90%;
    }
}
@media screen and (min-width: 1200px) {
    section div img{
        max-width: 400px;
        max-height: 450px;
    }
    section div, p, img, ul, i{
        width: 80%;
    }
    nav a{
        font-size: larger;
    }
    section{
        border-radius: 10px;
        border: 3px solid rgb(155, 176, 193);
    }
    nav{
        gap: 20px;
        justify-content: center;
    }
    main{
        width: 1200px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    body{
        background-color:rgb(255, 255, 255);
    }
}
