body{
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color:rgb(150, 182, 197); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10vh;
    background-color:rgb(150, 182, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 3;
}
nav a{
    text-align: center;
    font-size: smaller;
    background-color: rgb(150, 182, 197);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
    font-family: Arial, sans-serif;
    text-decoration: underline; 
    text-decoration-thickness: 2px; 
    text-underline-offset: 10px; 
    text-decoration-color: rgb(241, 240, 232);
    text-overflow: ellipsis;
    max-width: 20%; 
}
nav a:hover{
    text-decoration-thickness: 6px; 
    transition: 0.5s;
    /* font-weight: bold; */
}
footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(150, 182, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    background-color:rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    color:  rgb(37, 104, 136);
    border-radius: 20px 0 20px 0;
}
section a{
    font-family: Georgia, serif;
    /* text-overflow: ellipsis; */
    color:  rgb(37, 104, 136);
    padding: 30px 20px 30px 20px;
}
h1{
    font-family: Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
section img{
    width: 100%;
    max-width: 500px;

}
main{
    margin-top: 10vh;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(150, 182, 197);
    text-overflow: ellipsis;
}
header h1{
    font-size: 44px;
    width: 100%;
    color: white;
}
section div a{
    float: left;
    width: auto;
}
section div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (min-width: 800px) {
    section div a{
        width: 50%;
    }
    section div img{
        float: right;
        width: 45%;
    }
    section div{
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
    nav a{
        font-size: medium;
        margin-left: 20px;
        margin-right: 20px;
        
    }
}
@media screen and (min-width: 1200px) {
    nav a{
        font-size: larger;
    }
    section{
        border-radius: 10px;
        border: 3px solid rgb(155, 176, 193);
    }
    nav{
        gap: 20px;
        justify-content: center;
    }
    main{
        width: 1200px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    body{
        background-color:rgb(255, 255, 255);
    }
}
