
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  overflow: hidden;
}
#toto{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  overflow: hidden;
  width: 100vw;
}
.hanoi_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}
.buffers_container{
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(87, 177, 177);
  border: 1px solid rgb(60, 107, 107); /* Ramka */
  border-bottom: none;
  height: 4vh;
  margin-bottom: 0px;
  padding-bottom: 0%;
}
.stacks_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* gap: 5px; Odstępy między divami */
  /* border: 3px solid rgb(255,214,214); Ramka */
  background-color: rgb(2255,214,214);
  /* border-radius: 13px; Zaokrąglone rogi */
  border: 1px solid rgb(60, 107, 107); /* Ramka */
  border-top: none;
  width: 100%;
  height: 40vh;
  max-width: 1000px;
  max-height: 60vw;
}
.map_container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 40vh;
  overflow-y: scroll;
  overflow-x: auto;
  border: 1px solid rgb(60, 107, 107); /* Ramka */
  /* border-radius: 14px; Zaokrąglone rogi */
}
.buffer {
  width: 33.8%;
  background-color: rgb(87, 177, 177);
  color: white;
  border: 1px solid rgb(60, 107, 107); /* Ramka */
  /* border-radius: 10px; Zaokrąglone rogi */
  /* justify-content: center; */
  height: 100%;
  display: flex;
  flex-direction: column; /* Ustawienie kierunku flex na kolumnę */
  justify-content: flex-end; /* Umieszczenie elementów wewnątrz diva na dole */
  align-items: center;
}
.ring {
  border: 2px solid rgb(37, 36, 37);
  /*margin-bottom: 1%; /* Odstęp od siebie */
  /* padding: 2px; Wypełnienie */
  border-radius: 5px; /* Zaokrąglone rogi */
  cursor: pointer; /* Zmień kursor na wskaźnik */
  z-index: 2;
  /* margin-bottom: 1px; */
  height: 5vh;
  max-height: 5vh;
  /* text-align: center; */
}
.stackDiv {      
  width: 33.8%;
  background-color: rgb(87, 177, 177);
  border: 1px solid rgb(60, 107, 107); /* Ramka */
  border-top: none;
  color: white;
  /* border-radius: 14px; Zaokrąglone rogi */
  /* justify-content: center; */
  height: 100%;
  display: flex;
  flex-direction: column; /* Ustawienie kierunku flex na kolumnę */
  justify-content: flex-end; /* Umieszczenie elementów wewnątrz diva na dole */
  align-items: center;
}
.gui{
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(87, 177, 177);
  border: 1px solid rgb(60, 107, 107);
}


    .info{
      justify-content: flex-end; /* Umieszczenie elementów wewnątrz diva na dole */
      align-items: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(19, 59, 47);
        
    }
   
    .smallRing{
        border: 1px solid rgb(37, 36, 37); /* Ramka */
        color: black;
        /*margin-bottom: 1%; /* Odstęp od siebie */
        font-size: 55%;
        padding: 2px; /* Wypełnienie */
        border-radius: 3px; /* Zaokrąglone rogi */
        cursor: pointer; /* Zmień kursor na wskaźnik */
        /* text-align: center; */
        
      };
    .stick{
      background-color: rgb(243, 200, 144);
      width: 6%;
      height: 90%;
      border-radius: 10px;
      z-index: 1;
      border: 1px solid rgb(37, 36, 37); /* Ramka */
    }
    .expanded {
        height: 500px; /* Docelowa wysokość rozwiniętego diva */
        background-color: rgb(148, 74, 74);
    }
    .tp {
      /* background-color: brown; */
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      height: 100%;
    }
    .main {
      background-color: rgb(255, 255, 255);
      /* width: 30000px; */
      height: auto;
      position: relative
    }
    .staticButton {
      position: absolute;
      top: 15px;
      right: -80px;
      z-index: 999; /* Zapewnia, że przycisk będzie na wierzchu */
  }
  .map_buttons_container{
    position: absolute;
    border: 2px solid rgb(37, 36, 37); /* Ramka */
    border-radius: 14px; /* Zaokrąglone rogi */
  }
  /* .row_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    gap: 5px;
  } */
  button {
    background-color: #aad0db; /* Zielone tło */
    color: rgb(0, 0, 0); /* Biały kolor tekstu */
    border: none; /* Brak obramowania */
    padding: 0.5vw 1vh; /* Padding */
    text-align: center; /* Wyrównanie tekstu */
    text-decoration: none; /* Brak podkreślenia */
    display: inline-block; /* Inline-block */
    font-size: 20px; /* Rozmiar czcionki */
    margin: 4px 2px; /* Margines */
    cursor: pointer; /* Wskaźnik kursora */
    border-radius: 4px; /* Zaokrąglone rogi */
    transition: background-color 0.5s; /* Płynna zmiana koloru tła */
}
button:hover {
  background-color: rgb(243, 200, 144); /* Ciemniejsze zielone tło po najechaniu */
}
button:disabled{
  background-color: rgb(87, 177, 177);
}
.line {
  position: absolute;
  height: 15px; /* Grubość linii */
  width: 0; /* Początkowa szerokość linii */
  z-index: 3;
  border: 1px solid rgb(37, 36, 37); /* Ramka */
}

.button_info {
  background-color: #dfe1e2; /* Zielone tło */
  color: rgb(0, 0, 0); /* Biały kolor tekstu */
  border: none; /* Brak obramowania */
  padding: 0.5vw 1vh; /* Padding */
  text-align: center; /* Wyrównanie tekstu */
  text-decoration: none; /* Brak podkreślenia */
  display: inline-block; /* Inline-block */
  font-size: 16px; /* Rozmiar czcionki */
  margin: 4px 2px; /* Margines */
  border-radius: 4px; /* Zaokrąglone rogi */
  transition: background-color 0.5s; /* Płynna zmiana koloru tła */
  border: 2px solid rgb(60, 107, 107);
}



