#configurator_container{
    background-color: rgb(150, 182, 197);
    width: 100%;
    margin: 0;
    max-width: 600px;
    padding: 0 5vw;
}
#configurator_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}
.container_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.container_row{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio_card_container{
    width: 100%;
    border: 2px solid rgb(155, 176, 193);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.radio_card_container:hover{
    border: 2px solid rgb(81, 130, 155);
    transition: 0.5s;
}
.radio_card_container label{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.radio_card_container label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    overflow: hidden;
}
.radio_card_container .text{
    font-family: Arial, sans-serif;
    user-select: none;
    font-size: large;
    width: 100%;
    height: 100%;
    color: rgb(37, 104, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#patern:hover{
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: url("content/patern1.png");
    transition:  0.5s;
}
#wood:hover{
    background-color: rgb(233, 224, 209);
    background-image: url("content/drewno2.png");
    background-size: cover;
    transition:  0.5s;
}
#color:hover{
    background-color: rgb(235, 166, 18);
}
.radio_card_container label input[type=radio]:checked + #color{
    background-color: rgb(235, 166, 18);
}
.radio_card_container label input[type=radio]:checked + #wood{
    background-color: rgb(233, 224, 209);
    background-image: url("content/drewno2.png");
    background-size: cover;
}
.radio_card_container label input[type=radio]:checked + #patern{
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-image: url("content/patern1.png");
}
/* .container_number{
    width: 12%;
    margin-left: auto;
    margin-right: auto;
} */
#startButton{
    border: 2px solid rgb(60, 107, 107);
    background-color: white;
    border-radius: 0;
    width: 100px;
    height: 6vh;
    min-height: 30px;
    border-radius: 10px;
    font-size: larger;
}
#startButton:hover{
    background-color: rgb(122, 221, 136);
}
#configurator_container a{
    font-size: x-large;
}
.radio_card_container label input[type=radio]:enabled:checked + .text,
.radio_card_container label input[type=checkbox]:enabled:checked + .text{
    background-color: rgb(122, 221, 136);
    transition: 0.5s;
}
.radio_card_container label input[type=checkbox]:disabled + .text{
    background-color: rgb(219, 219, 219);
    height: 0;
    color:rgb(219, 219, 219);
    overflow: hidden;
    pointer-events: none;
    transition: 0.5s;
}
.radio_card_container label input[type=checkbox]:enabled + .text{
    background-color: rgb(255, 255, 255);
    color: rgb(60, 107, 107);
    transition: 0.5s;
}
.text-disable{
    width: 0;
    height: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    user-select: none;
    font-size: smaller;
    color: rgb(226, 0, 0);
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.radio_card_container label input[type=checkbox]:enabled~.text-disable{
    width: 100%;
    height: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}
.radio_card_container label input[type=checkbox]:disabled~.text-disable{
    width: 100%;
    height: 100%;
    color: rgb(250, 100, 100);
    background-color: rgb(219, 219, 219);
    transition: 0.5s;
}
#double-option{
    width: 0;
    height: 0;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: larger;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    color: rgb(25, 74, 97);;
}
@media only screen and (min-height: 600px) and (min-width: 500px){
    .text-disable{
        font-size: larger;
    }
}
@media only screen and (min-width: 1000px){
    #double-option{
        width: 100%;
        height: 6vh;
    }
    h1{
        font-size: x-large;
    }
}
@media only screen and (max-height: 440px){
    .radio_card_container .text{
        font-size: smaller;
    }
}
@media only screen and (max-height: 600px){
    .radio_card_container .text{
        font-size: medium;
    }
}